/*-- scss:rules --*/

.quarto-title, .sidebar-title {
  background-color: $brand-blue;
}



/* css styles */

h2 {text-decoration: none; border: none;}


.quarto-title, .sidebar-title strong { border-bottom:2px solid white; 
color: white; padding:2px 12px 2px 4px; display: inline-block;} 

.sidebar-title {font-size:xlarge; transform: rotate(-.5deg);}

.quarto-title {transform: rotate(-.33deg);}

.navbar-logo {
  max-height: 85px;
}